#container {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
#text-input {
  display: flex;
  width: 30%;
  margin-left: 35%;
  border: 1px solid green;
  text-align: left;
  white-space: wrap;
}
.colored {
  color: red;
}
#wrong-count {
  font-size: 100px;
  color: red;
  display: flex;
  justify-content: center;
}
